{% extends 'base.html' %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Sign in</h1>
    <p class="lead">You must be a superuser</p>
    <hr class="my-4">
    <!--if forms error-->
    {% if form.errors %}
      <p class="lead">Please check your password or username</p>
    {% endif %}

    <form action="{% url 'login/' %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="login" class="btn ">
      <input type="hidden" name="next" value={{next}}>
    </form>
    
  </div>

{% endblock content %}